# ENVIRONMENT VARIABLES #
#
# This file is used by the `dotenv` package AND the `vite` package.
# The `dotenv` package is used by the `prisma` package.
#
/*
  * 1. Create a Stripe account
  * 2. Create a product
  * 3. Create 3 prices for this product
  * 4. Copy the API keys
  * 5. Paste the API keys below
  * 6. Copy the price IDs
  * 7. Paste the price IDs below
  * 8. Copy the secret key
  * 9. Paste the secret key below
  * 10. Copy the webhook secret
  * 11. Paste the webhook secret below
  */
VITE_APP_STRIPE_API_FORFAIT_ONE=
VITE_APP_STRIPE_API_FORFAIT_TWO=
VITE_APP_STRIPE_API_FORFAIT_THREE=
VITE_APP_STRIPE_API_SECRET=
VITE_APP_STRIPE_PUBLIC_KEY=
VITE_APP_STRIPE_WEBHOOK_SECRET=

VITE_APP_PORT=3000

/*
  * 1. Create a MongoDB account
  * 2. Create a cluster
  * 3. Create a database
  * 4. Create a user
  * 5. Copy the connection string
  * 6. Paste the connection string below
  */
DB_USER=""
DB_PASSWORD=""
DB_NAME=""

/*
  * 1. Create a Cloudinary account
  * 2. Create a cloud
  * 3. Copy the cloud name
  * 4. Paste the cloud name below
  * 5. Copy the API key
  * 6. Paste the API key below
  * 7. Copy the API secret
  * 8. Paste the API secret below
  */

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
CLOUDINARY_UPLOAD_PRESET=""

/*
  * 1. Create a JWT Token
  */
ACCESS_TOKEN_SECRET="424288424208"
TEST_JWT_SESSION=""
/*
  * 1. NodeMailer account configuration
  */

EMAIL_USER=
EMAIL_PASSWORD=""
EMAIL_USER=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

#DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"
